# NodeJS's module directory
node_modules

# Sass's cache directory
.sass-cache

# ignore the build directories
build/
_util/

# TODO: STOP ignoring the package-lock.json when this is merged back
package-lock.json
