jekyll-setup.log

# Ruby environment normalization
# from github.com/github/gitignore/Ruby.gitignore
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Jekyll related
# from github.com/github/gitignore/Jekyll.gitignore
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
